@value button from '../Home.module.css';
@value backButton from '../Home.module.css';

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    height: 100%;
    width: 100%; 

}

.playerList {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 60%;

}

.playerEntryContainer {

    position: relative;

    height: 100%;
    width: 95%;

    overflow-x: hidden;
    overflow-y: scroll;

}

.playerListHeader {

    /* Account for sidebar */
    transform: translateX(-10px);

    margin: 2%;
    font-weight: 600;

}

.controlButtonContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 40%;

}

.startButton {

    background-color: var(--brown-2);
    margin: 2%;

}
.leaveButton {

    background-color: #BB3F3F;
    margin: 2%;

}
