@value button from '../Home.module.css';
@value backButton from '../Home.module.css';

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    height: 100%;
    width: 100%; 

}

.playerEntryContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 60%;

}

.controlButtonContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 40%;

}

.startButton {

    background-color: var(--brown-2);
    margin: 2%;

}
.leaveButton {

    background-color: #BB3F3F;
    margin: 2%;

}
