@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Sail&display=swap');

:root {

  --blue-1: #2D3340;
  --blue-2: #596780;
  --blue-3: #869ABF;
  --blue-4: #A1B9E6;
  --blue-5: #B2CDFF;

  --brown-1: #401C18;
  --brown-2: #592C22;
  --brown-3: #8C6046;
  --brown-4: #D9AE89;
  --brown-5: #A67F5D;

  font-size: 2vmin;
  font-family: Raleway;

}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--brown-1);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--brown-5);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--brown-3);
  border-radius: 10px;
}

#sizingContainer {
  height: 100vh;
  width: 100vw;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
}

#sizingWindow {
  
  /* Aspect Ratio for Game */
  aspect-ratio: 16 / 9;

  width: calc(100vh * 16 / 9);

}

#sizingContent {

  height: 100%;
  width: 100%;

  position: relative;

  overflow: hidden;
  
}


body {

  margin: 0;
  overflow: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* why not */
  user-select: none;

}
