@import '../gridDimensionVars.css';

.buttonContainer {
    
    height: 15ch;
    width: 15ch;

    border-color: black;
    border-width: 2px;
    border-style: solid;
    
}

.buttonGrid {

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(var(--buttonSpeed-Columns), calc(15ch/4));
    grid-template-rows: repeat(var(--buttonSpeed-Rows), calc(15ch/4));

}

.button {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 80%;
    width: 80%;

    margin: 2%;

    border-radius: 50px;
    border-color: black;
    border-width: 2px;
    border-style: solid;

    /* fix the offset from the border-width property */
    transform: translate(2px, 2px);


}

.instructions {

    margin: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}