@import './gridDimensionVars.css';

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    border-radius: 10px;
    
    width: 85%;

    background-color: darkslategray;
}

.buttonContainer {
    display: grid;
    grid-template-columns: repeat(var(--buttonSpeed-Columns), 1fr);
    grid-template-rows: repeat(var(--buttonSpeed-Rows), 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.button {

    height: 30px;
    width: 30px;

    background-color: gray;
    border-radius: 50px;

    margin: 10px;

}