@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.background {

    /* Top bar is 10%, so account for that */
    height: 90%;
    width: 100%;
    background-color: var(--blue-1);

}

.container {

    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.pageBase {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    height: 100%;
    aspect-ratio: 4/5;
    background-color: white;

    border-color: black;
    border-style: solid;
    border-width: 3px;

    margin: 2%;

    overflow: scroll;

    font-family: "Special Elite";

}

.arrowButton {

    padding: 10%;
    margin: 0;

}

.inactiveArrowButton {

    composes: arrowButton;
    filter: brightness(45%);
    transform: translateY(4px);
    box-shadow: 0px 2px black;
    pointer-events: none;

}

.arrow {

    color: black;
    font-size: 300%;

}

.pageCount {

    margin: 10%;
    font-size: 130%;
    font-weight: 700;

}
/*.arrow:hover {

    color: white;
    transition: 0.1s;

}
.arrow:active {

    filter: brightness(85%);

}*/

.controls {

    min-height: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;

}
