.button {

    height: 20%;
    max-height: 100px;

    aspect-ratio: 3/1;

    
    padding: 1%;
    
    border-radius: 10px;

    background-color: #A67F5D;
    color: white;

    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;


    box-shadow: 0px 6px  black;

    transition: filter 0.25s;

}

.button:hover {

    filter: brightness(85%);
    cursor: pointer;

}

.button:active {
    filter: brightness(65%);
    transform: translateY(4px);
    box-shadow: 0px 2px black;
}
