.video {

    height: 100%;
    width: 100%;

}

.container {

    height: 100%;
    width: 100%;

}

.failOverlay {

    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 100%;
    visibility: hidden;

}

.failVisible {

    composes: failOverlay;
    visibility: visible;

}

.button {

    height: 10%;
    aspect-ratio: 3/1;

}

.muteIcon {

    position: absolute;
    bottom: 0;
    right: 0;

    margin: 5%;



    z-index: 9999;

    height: 5%;
    aspect-ratio: 1/1;

    filter: opacity(100%);

    transition: filter 1s ease, color 0.2s ease;

}
.muteIcon:hover {

    color: white;
    cursor: pointer;

}

.hiddenMuteIcon {

    composes: muteIcon;
    filter: opacity(0%)

}
