.video {

    height: 100%;
    width: 100%;

}

.container {

    position: relative;

    height: 100%;
    width: 100%;

}

.failOverlay {

    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 100%;

    z-index: 9999;

    filter: opacity(0%);
    
    transition: filter 0.5s ease;

}

.failVisible {

    composes: failOverlay;
    filter: opacity(100%);

}

.header {

    font-family: Sail, cursive;

    font-weight: 700;
    font-size: 250%;
    color: var(--brown-1);

    filter: opacity(100%);

}

.hiddenHeader {

    composes: header;
    filter: opacity(0%);

}

.button {

    height: 100%;
    width: 100%;

}

.hiddenBtnContainer {

    filter: opacity(0%);
    transition: filter 1s ease;

}

.btnContainer {

    height: 5%;
    aspect-ratio: 3/1;

    filter: opacity(100%);
    transition: filter 1s ease;

}

.muteIcon {

    position: absolute;
    bottom: 0;
    right: 0;

    margin: 5%;



    z-index: 9999999;

    height: 5%;
    aspect-ratio: 1/1;

    filter: opacity(100%);

    transition: filter 1s ease, color 0.2s ease;

}
.muteIcon:hover {

    color: white;
    cursor: pointer;

}

.hiddenMuteIcon {

    composes: muteIcon;
    filter: opacity(0%)

}
