/* Shared Styles */
.background {
    height: 100%;
    width: 100%;
    
    background-color: white;
}

.topBar {

    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    align-items: center;

    height: 10%;
    width: 100%;
    background-color: #401C18;

    box-shadow: 0px 3px 10px 2px black;

}

.shadow {

    position: absolute;

    height: 100%;
    width: 100%;

    background-color: black;

    opacity: calc(75%);

    /*z-index: 999; only when active*/
    z-index: -1;

}

.activePuzzle {

    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;

    position: absolute;

    background-color: #401C18;
    border-radius: 10px;
    box-shadow: -6px 7px black;

    z-index: 9999;

    min-width: 60%;
    min-height: 50%;

    max-width: 80%;
    max-height: 70%;

    top: 25%;
    
    left: 50%;
    transform: translate(-50%, 0);

    transition: top 0.8s cubic-bezier(.47, 1.64, .41, 1);

}

.hiddenPuzzle {

    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;

    position: absolute;

    background-color: #401C18;
    border-radius: 10px;

    width: 50%;
    height: 50%;

    top: 100vh;
    
    left: 50%;
    transform: translate(-50%, 0);

    transition: top 0.8s cubic-bezier(.47, 1.64, .41, 1);

}

.activeTopControls {

    margin-top: 10px;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    width: 100%;

}

.exitIcon {

    position: absolute;

    height: 15px;
    width: 15px;

    color: white;

    margin: 15px;
    right: 0;

    cursor: pointer;

    transition: color 0.2s cubic-bezier(.47, 1.64, .41, 1);

}
.exitIcon:hover {
    color: gray;
}
.exitIcon:active {
    color: black;
}

.zoneHeader {

    color: white;
    font-weight: 500;
    font-size: 20px;
    margin: 10px;

}

.centerInfo {

    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 2;

    color: white;

}

.rightInfo {

    display: flex;
    flex-direction: row;
    align-items: center;

    grid-column: 3;

    margin: 1%;
    height: 100%;
    

}

.rightInfoContainer {

    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 50%;
    width: 100%;

    min-width: 75px;

    background-color: #8C6046;

    border-radius: 5px;

    box-shadow: inset 0px 0px 3px 1px;

}

.coinIcon {

    color: gold;
    height: 100%;
    width: 25%;

    margin-left: 5%;
    margin-right: 20%;

}

.clockIcon {

    color: black;
    height: 100%;
    width: 25%;

    margin-left: 5%;
    margin-right: 20%;

}
