/* Shared Styles */
.background {
    height: 100%;
    width: 100%;
    
    background-color: white;
}

.topBar {

    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    align-items: center;

    height: 10%;
    width: 100%;
    background-color: #401C18;

}

.shadow {

    position: absolute;

    height: 100%;
    width: 100%;

    background-color: black;

    opacity: calc(75%);

    /*z-index: 999; only when active*/
    z-index: -1;

}

.activePuzzle {

    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;

    position: absolute;

    background-color: gray;
    z-index: 9999;

    width: 50%;
    height: 50%;

    top: 25%;
    
    left: 50%;
    transform: translate(-50%, 0);

    transition: top 0.8s cubic-bezier(.47, 1.64, .41, 1);

}

.hiddenPuzzle {

    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;

    position: absolute;

    background-color: gray;

    width: 50%;
    height: 50%;

    top: 100vh;
    
    left: 50%;
    transform: translate(-50%, 0);

    transition: top 0.8s cubic-bezier(.47, 1.64, .41, 1);

}

.centerInfo {

    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 2;

    color: white;

}

.rightInfo {

    display: flex;
    flex-direction: row;
    align-items: center;

    grid-column: 3;

    margin: 1%;
    height: 100%;
    

}

.rightInfoContainer {

    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 50%;
    width: 100%;

    min-width: 75px;

    background-color: #8C6046;

    border-radius: 5px;

    box-shadow: inset 0px 0px 3px 1px;

}

.coinIcon {

    color: gold;
    height: 100%;
    width: 25%;

    margin-left: 5%;
    margin-right: 20%;

}

.clockIcon {

    color: black;
    height: 100%;
    width: 25%;

    margin-left: 5%;
    margin-right: 20%;

}
