@keyframes InfiniteStripe { 
    100% { background-position: 100% 100%; }
}

@keyframes MovingBackground {

    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
    
}

.logo {

    z-index: 99;

    aspect-ratio: auto;
    width: 25%;

}

.button {

    background-color: var(--brown-2);
    height: 20%;
    margin: 10px;

}


.container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 100%;

    /*background-image: repeating-linear-gradient(
        -45deg,
        var(--blue-3),
        var(--blue-3) 20px,
        var(--blue-4) 20px,
        var(--blue-4) 40px
    );

    background-size: 200% 200%;

    animation: InfiniteStripe 40s linear infinite;*/

    background: url("../../assets/background.png") repeat-x;
    
    /*background-position: 0% 0%;*/

    animation: MovingBackground 30s linear infinite;

}

.centerContainer {

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 60%;
    width: 80%;

    padding: 2%;
    margin: 2%;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 3px solid rgba(255, 255, 255, 0.3);

}

.backButton {

    position: absolute;
    
    left: 0;
    top: 0;

    margin: 2%;

    font-size: 150%;

}
.backButton:hover {

    cursor: pointer;

}

.textInput {

    color: white;
    background-color: var(--brown-3);
    
    height: 10%;
    aspect-ratio: 5/1;

    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 2px;

    margin: 0.5%;

    text-align: center;

}
::placeholder {

    padding: 4px;
    color: #F5DEB3;

}

/* Show Error Messages as Popups */
.errorContainer {

    position: absolute;
    right: 0;
    bottom: 0;

    margin: 2%;
    padding: 2%;

    background-color: #BB3F3F;
    box-shadow: -4px 6px  black;
    border-radius: 10px;

    font-weight: 600;
    
    transition: bottom 1s cubic-bezier(.41, 1.6, .41, 1);

}

.hiddenErrorContainer {

    composes: errorContainer;
    bottom: -100vh;

}
