.container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100%;
    width: 100%;

    /* https://css-tricks.com/stripes-css */
    background-color: var(--blue-1);

}

.centerContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 60%;
    width: 80%;

    padding: 2%;

    border-style: solid;
    border-width: 2px;
    border-color: black;

    background-color: var(--blue-2);
    border-radius: 10px;

}

.button {

    background-color: var(--blue-4);
    height: 20%;
    margin: 10px;

}

.create {

    composes: button;

}

.join {

    composes: button;
    background-color: green;

}

.howToPlay {

    composes: button;
    background-color: gray;

}