.container {

    display: flex;
    justify-content: center;
    align-items: center;

    background: url("../../../../assets/Home/Plank Long.svg");
    background-size: 100% 100%;
    
    width: 95%;
    aspect-ratio: 10/1;

    margin: 0.5%;

}

.currentPlayerContainer {

    composes: container;


    filter: sepia(100%) saturate(300%) brightness(100%) hue-rotate(360deg);

}
