@value button from '../Home.module.css';

.create {

    composes: button;

}

.join {

    composes: button;
    background-color: green;

}

.howToPlay {

    composes: button;
    background-color: gray;

}
