@value button from '../Home.module.css';

.raftsContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    width: 100%;

}

.raft {

    width: 100%;
    aspect-ratio: 1/1;

}

.raftWrapper {

    position: relative;
    text-align: center;

    width: 25%;

}

.plankWrapper {



}

.text {

    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;

    transform: translate(-50%, -55%);

    font-size: 125%;

    white-space: nowrap;

}
