.stopwatch {

    position: absolute;
    height: 25%;

    left: 0;
    top: 0;
    margin: 5px;

}

.inactiveAnswerOverlay {

    position: absolute;

    height: 100%;
    width: 100%;

    z-index: 999999;
    opacity: 0.5;

    /* click through-able */
    pointer-events: none;

    transition: all 0.8s cubic-bezier(.47, 1.64, .41, 1);

}

.correctAnswerOverlay {

    position: absolute;

    height: 100%;
    width: 100%;

    z-index: 999999;
    opacity: 0.5;

    background-color: green;
    border-radius: 10px;

    /* click through-able */
    pointer-events: none;

    transition: all 0.8s cubic-bezier(.47, 1.64, .41, 1);

}

.incorrectAnswerOverlay {

    position: absolute;

    height: 100%;
    width: 100%;

    z-index: 999999;
    opacity: 0.5;

    background-color: red;
    border-radius: 10px;

    /* click through-able */
    pointer-events: none;

    transition: all 0.8s cubic-bezier(.47, 1.64, .41, 1);

}

.boatContainer {

    position: relative;

    height: 100%;
    width: 100%;

}
