.stopwatch {

    position: absolute;
    height: 25%;

    left: 0;
    top: 0;
    margin: 5px;

}

.inactiveAnswerOverlay {

    position: absolute;

    height: 100%;
    width: 100%;

    z-index: 999999;
    opacity: 0.5;

    /* click through-able */
    pointer-events: none;

    transition: all 0.8s cubic-bezier(.47, 1.64, .41, 1);

}

.correctAnswerOverlay {

    position: absolute;

    height: 100%;
    width: 100%;

    z-index: 999999;
    opacity: 0.5;

    background-color: green;
    border-radius: 10px;

    /* click through-able */
    pointer-events: none;

    transition: all 0.8s cubic-bezier(.47, 1.64, .41, 1);

}

.incorrectAnswerOverlay {

    position: absolute;

    height: 100%;
    width: 100%;

    z-index: 999999;
    opacity: 0.5;

    background-color: red;
    border-radius: 10px;

    /* click through-able */
    pointer-events: none;

    transition: all 0.8s cubic-bezier(.47, 1.64, .41, 1);

}

.boatContainer {

    position: relative;

    height: 100%;
    width: 100%;

}

@keyframes WaterScroll { 
    0% { transform: translate(calc(100%/-3), 6%); }
    100% { transform: translate(calc(calc(100%/-3) * 2), 6%); }
}

/* Water Scroll Classes */
.waterScrollContainer {

    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    width: 300%;
    
    z-index: 999;

    /* Click through-able */
    pointer-events: none;

    animation: WaterScroll 10s linear infinite;

}

.captainContainer {

    display: flex;
    align-items: center;
    flex-direction: column;

    position: absolute;
    top: 13%;
    right: 2%;

    padding: 5%;

}

.captainsHeader {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    background-color: var(--blue-1);
    color: white;

    border-radius: 10px;
    padding: 2%;

    transition: filter 0.2s ease;
}
.captainsHeader:hover {

    filter: brightness(65%);
    cursor: pointer;

}

.captainList {

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: var(--blue-2);

    border-radius: 10px;
    padding: 2%;

    visibility: hidden;

}