.container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    border-radius: 10px;
    
    max-height: 100%;
    width: 85%;

    background-color: darkslategray;
}

.buttonContainer {
    display: flex;
    
    justify-content: center;
    align-items: center;

    flex-direction: row;

    height: 100%;
    width: 100%;
}

.controlContainer {

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

}

.controlButton {

    margin: 10px;
    padding: 10%;
    min-width: 50px;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    border-radius: 100%;
    background-color: gray;

    border-color: black;
    border-width: 10px;

    width: 10%;
    aspect-ratio: 1/1;

    margin: 2%;

    color: white;

    z-index: 1;

    user-select: none;

    transition: 0.15s;
}

.button:hover {
    
    filter: brightness(75%);
    cursor: pointer;

}

.button:active {

    filter: brightness(65%);

}

.inactiveButton {

    composes: button;
    filter: brightness(50%);

}

.inactiveButton:hover {

    filter: brightness(50%);
    cursor: auto;

}
