.container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    border-radius: 10px;
    
    width: 100%;

}

.buttonContainer {
    display: flex;
    
    justify-content: center;
    align-items: center;

    flex-direction: row;

    height: 100%;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    border-radius: 15px;
    background-color: var(--blue-3);

    border-color: black;
    border-width: 10px;

    box-shadow: -4px 6px black;

    width: 100%;
    aspect-ratio: 1/1;

    margin: 2%;
    margin-bottom: 0;

    font-weight: 650;
    color: black;

    z-index: 1;

    user-select: none;
}

.submit {

    background-color: var(--blue-2);

}

.arrow {

    color: black;

    font-size: 8vh;

}
.arrow:hover {

    color: white;

    transition: 0.1s;

}
.arrow:active {

    filter: brightness(85%);

}