.background {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(131, 35, 35);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgb(85, 85, 85);
    padding: 10px;
    border-radius: 10px;
}

.menuButton {
    height: 8vh;
    max-height: 100px;

    width: 35vw;
    max-width: 200px;
    
    margin: 25px;
    border-radius: 10px;

    background-color: rgb(201, 25, 25);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;


    box-shadow: -5px 10px  black;

    transition: filter 0.25s;
    transition: box-shadow 0.25s;
    user-select: none;

}

.menuButton:hover {
    filter: brightness(85%);
    cursor: pointer;

    box-shadow: -2.5px 5px  black;
}

.menuButton:active {
    filter: brightness(65%);

    box-shadow: -1.25px 2.5px  black;
}

.textInput {
    color: black;
    background-color: gray;
    height: 25px;
    width: 70vw;

    text-align: center;
    margin: 25px;
}

.textInput::placeholder {
    color: rgb(56, 56, 56);
}
